.about-us__description {
  font-size: 20px;
}
.social-medias__list {
  padding: 30px;
  padding-top: 10px;
}
.social-medias__student {
  border: 2px solid var(--about-us-elements-border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-bottom: 5px; 
}
.student__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  margin: 0;
}
.student__name{
  margin-bottom: 8px;
}
.student__links-item {
  border: 1px solid var(--about-us-elements-border-color);
  border-radius: 5px;
  padding: 5px;
  margin-top: 3px;
  width: 50vw;
  max-width: 700px;
  overflow-x: hidden;
}
.student__link-name {
  text-decoration: underline;
}
.student__link {
  cursor: pointer;
}
@media (max-width: 700px) {
  .social-medias__student{
    flex-direction: column;
  }
  .student__info{
    text-align: center;
  }
  .student__links-item{
    width: 200px;
    margin: auto;
  }
}
